HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
.trae/
### 忽略嵌套的子项目 ###
YU_MALL-YU/

### CUSTOM ###
application-local.yml
tmp
logs/
*.log
application-local.yaml
.playwright-mcp
AITEST/
.m2/
.trae/
.project
myConfig/
bugExperience/
*.prefs/
*.classpath
img/
.sisyphus/
*.factorypath/
.project/
img/
### IDE ###
.idea/
*.iml
.vscode/